/* MEDIA QUERY - HEADER*/
@media screen and (max-width:767px){
    .container{
        padding: 0 15px;
    }

    .menu{
        display: none;
    }

    .menu_icon{
        display: block;
        text-align: right;
    }

    .fa-bars{
        font-size: 25px;
        color: #579AFF;
    }

    .jumbotron .container{
        flex-direction: column;
    }

    .jumbo_left{
        color: white;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .jumbo_left h1{
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .jumbo_left p{
        font-size: 18px;
        line-height: 1.7rem;
    }

    .jumbo_right{
        width: 100%;
    } 
    
    .jumbotron{
        background-size: 250%;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .container{
        padding: 0 25px;
    }

    .menu{
        display: none;
    }

    .menu_icon{
        display: block;
        text-align: right;
    }

    .fa-bars{
        font-size: 25px;
        color: #579AFF;
    }

    .jumbo_left{
        color: white;
        margin-bottom: 10px;
    }
    
    .jumbo_left h1{
        font-size: 2rem;
    }

    .jumbo_left p{
        font-size: 18px;
        line-height: 1.7rem;
    }

    .jumbotron{
        background-size: 200%;
    }
}

/* MEDIA QUERY - SECTION LOGOS*/
@media screen and (max-width:767px){
    .logos_box{
        flex-wrap: wrap;
    }

    .logos h4{
        font-size: 14px;
    }

    .logos a{
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .logos_box img{
        width: 130px;
    }

    .logos a{
        font-size: 16px;
    }
}