
/* COMMON RULES */
body, 
input, 
button{
    font-family: 'Inter', sans-serif;
}

.flex-row{
    display: flex;
}

h2,
h2 + p 
.deploy_and_scale h3, 
.deploy_and_scale > .row ul > li,
.designed_for_developers p{
    color: #031C4E;
}

/* SITE NAV */
#site_nav .row{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.logo img{
    width: 190px;
}

.menu_icon{
    display: none;
}

.menu{
    text-align: right;
}

.menu a{
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.menu .btn{
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #579AFF;
    color: #579AFF;
    margin: 0 10px;
}

/* SITE JUMBOTRON */
.jumbotron{
    background-color: #004AFF;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: 100%;
    background-position: center;
    padding: 80px 0;
}

.jumbotron .container{
    align-items: center;
    justify-content: space-between;
}
/* jumbotron left part */
.jumbo_left{
    color: white;
    width: 50%;
}

.jumbo_left h1{
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.jumbo_left p{
    font-size: 19px;
    line-height: 2rem;
    opacity: .7;
}

/* jumbotron right part */
.jumbo_right{
    background-color: white;
    width: 35%;
    padding: 40px 15px;
    border-radius: 4px;
    text-align: center;
}

.jumbo_right h2{
    margin-bottom: 10px;
}

.jumbo_right h2:nth-child(2){
    color: #579AFF;
}

form input, 
form button{
    display: block;
    width: 100%;
    padding: 7px 0;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid lightgray;
    
}

.new_account{
    background-color: #579AFF;
    border: 1px solid #579AFF;
    color: white;
}

.sign_up_google{
    background-color: white;
    color: gray;
    position: relative;
}

button .google_logo{
    width: 17px;
    position: absolute;
    left: 10px;
}

.jumbo_right p{
    font-size: 12px;
}

.terms_service, .logos a{
    color: #579AFF;
}

/* SITE MAIN */
/* section logos */
.logos{
    background-color: #F3F5F9;
    padding: 20px 0;
}

.logos h4{
    text-align: center;
    text-transform: uppercase;
    color: #76829C;
    padding-top: 25px;
}

.logos_box{
    justify-content: space-evenly;
    padding: 25px 0;
}

.logos_box img{
    width: 156px;
    padding:0 5px;
}

.logos a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

/* section deploy and scale */
.deploy_and_scale{
    padding: 70px 0;
}

.deploy_and_scale > .row:first-child{
    text-align: center;
    padding-bottom: 60px;
}

#site_main h2{
    font-size: 2rem;
}

h2 + p{
    font-size: 1.3rem;
    line-height: 2rem;
    opacity: .7;
}

.deploy_and_scale > .row ul > li{
    font-size: 1.3rem;
    opacity: .7;
}

.deploy_and_scale > .row ul > li{
    list-style: none;
    border-left: 1px solid #031c4e6b;
    padding: 10px;
}

.deploy_and_scale > .row ul{
    padding-left: 100px;
}
 
.deploy_and_scale > .row:last-child h3{
    padding: 10px 0;
}

.optimized_compute, .global{
    padding: 0 50px;
}

.one_click, .global{
    padding-top: 30px;
}

/* SECTION DESIGNED FOR DEVELOPERS */
.designed_for_developers{
    background-color: #f3f5f9;
}

.designed_for_developers > .container{
    padding-top: 70px;
    padding-bottom: 60px;
}

.designed_for_developers > .container > .row{
    text-align: center;
}

.designed_for_developers h2 + p{
    padding: 35px 0;
}

.slide{
    justify-content: center;
    align-items: center;
}

.slide img{
    padding: 20px;
    width: 60%;
}

.slide a{
    color: black;
}

.fa-chevron-left, 
.fa-chevron-right{
    font-size: 30px;
}

.fa-circle{
    font-size: 12px;
    color: #006AFF;
}

.full_circle{
    background-color: #006AFF;
    border-radius: 50%;
}

.circle_indicators{
    text-align: center;
}